body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif; color: rgb(232, 26, 143);
    background-color: black;
}

.gameStatus {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.3rem;
}

.play {
    color: rgb(26, 222, 232);
}

.title {
    font-family: "Creepster", sans-serif; color: rgb(26, 222, 232);
    font-size: 7rem;
}

.result {
    font-family: "Creepster",
    sans-serif;
    color: rgb(26, 222, 232);
    font-size: 4 rem;
}

.hide {
    display: none;
}


#mate-sound {
    display: none
}

#bug-sound {
    display: none
}

#game-over-sound {
    display: none
}

#game-won-sound {
    display: none
}