body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif; color: aqua;
}

#mate-sound {
    display: none
}

#bug-sound {
    display: none
}

#game-over {
    display: none
}


#lost {
    position: absolute;
    display: none;
}